[Unit]
Description = "This is a test, this is only a test"
After=network.target

[Service]
User=kenjoel
Group=kenjoel
WorkingDirectory=/home/kenjoel/app/src
Environment="PATH=/home/kenjoel/app/src/venv/bin"
EnvironmentFile=/home/kenjoel/.env
ExecStart=/home/kenjoel/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target